{% extends 'base.html' %}

{% block content %}
<div class="post_index">
    <form method="post">
        <input type="text" name="title" autocomplete="off" required class="form-control" id="nme" placeholder="Title">
        <br>
        <input type="text" name="content" autocomplete="off" required class="form-control" id="nme" placeholder="Content">
    </form>
</div>
<br><br>
<ul class="list-group">
{% for pst in exlst %}
    {% if pst[3] == "enjoyrainy" %}
    <div class="panel panel-default">
    <div class="panel-body">
        {{ pst[3] }}<span class="badge">Website Admin</span>
    </div>
    <div class="panel-footer"><a href={{ pst[2] }} class="btn-default">{{ pst[0] }}</a></div>
    </div>
    {% else %}
    <div class="panel panel-default">
    <div class="panel-body">
        {{ pst[3] }}
    </div>
    <div class="panel-footer"><a href={{ pst[2] }} class="btn-default">{{ pst[0] }}</a></div>
    </div>
    {% endif %}
{% endfor %}
</ul>
{% endblock %}