{% extends 'base.html' %}

{% block content %}
<p>Please log in before creating!</p>
<form method="post">
    Username <input type="text" name="username" autocomplete="off" required class="form-control" id="nme" placeholder="Please input your username">
    Password <input type="text" name="password" autocomplete="off" required class="form-control" id="ps" placeholder="Please input your password">
    <input class="btn" type="submit" name="submit" value="Login" class="btn btn-success">
</form>
<a href="/register">Don't have an account? Please register here first</a>
{% endblock %}