{% extends 'base.html' %}

{% block content %}
<p>Please register before creating!</p>
<form method="post">
    Username <input type="text" name="username" autocomplete="off" required class="form-control" id="nme" placeholder="Such as LazyBarium:)">
    Password <input type="text" name="password" autocomplete="off" required class="form-control" id="nme" placeholder="Choose a password!">
    <input class="btn" type="submit" name="submit" value="Register" class="btn btn-success">
</form>
<a href="/login">Already have an account? Sign in here</a>
{% endblock %}